# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# PyInstaller
build/
*.manifest
*.spec

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Custom ignore (keep only dist/ executable and python source)
dist/MKlink极速助手.spec
